@charset "UTF-8";

/**
* Includes
**/
@import "_normalize.scss";

/**
* Global
**/
$white: #FFFFFF;
$grey-100: #F6F8F9;
$grey-200: #E3E6E9;
$grey-300: #EFF1F3;
$blue-grey-100: #AEB7CB;
$blue-grey: #4E5974;
$red: #D0011B;

body {
  background-color: $grey-100;
  color: $blue-grey;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  height: 100vh;
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

small {
  color: $blue-grey-100;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

div {
  box-sizing: border-box;
  display: block;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
* Mobile Header
**/

header {
  background: $white;
  border-bottom: 1px solid $grey-200;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  padding: 8px;
  z-index: 2;

  div {
    float: left;
  }

  img, strong {
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
  }
}

.main-menu, .settings-menu {
  padding: inherit;
  width: 15%;
}

.main-menu a {
  width: 100%;
  padding: 17px 0 0;
  display: block;

  span {
    background: #D7DDE3;
    display: block;
    height: 7px;
    width: 23px;
    margin: auto;
  }
}

.chatbob-profile {
  text-align: center;
  width: 70%;
}

.settings-menu {
  text-align: right;
}

/**
* Messenger Window
**/

.messenger {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/**
* Chat Window
**/

.chat-outer {
  max-height: calc(100vh - 134px);
  overflow-y: scroll;
  position: relative;
}

#chat {
  box-sizing: border-box;
  display: block;
  padding: 16px;
  width: 100%;
  z-index: 1;

  .user-message {
    border-radius: 6px;
    box-shadow: 0 6px 12px $grey-300;
    clear: both;
    margin-bottom: 12px;
    padding: 16px;
    width: auto;
  }

  .bob {
    background: $white;
    float: left;
  }

  .mary {
    background: $red;
    border-bottom-right-radius: 0;
    color: $white;
    float: right;
    position: relative;

    &::before {
      content: '';
      background: transparent url(../assets/message-tail.png) no-repeat 0 0;
      bottom: 0;
      height: 9px;
      left: 100%;
      margin-left: -6px;
      position: absolute;
      width: 11px;
    }

    &::nth-child(4) {
      height: 300px;
    }
  }

}

/**
* Input Footer
**/

.chat-submit-area {
  min-height: 77px;
}

.user-input {
  background: $white;
  //bottom: 0;
  border-top: 1px solid $grey-200;
  box-sizing: border-box;
  padding: 16px;
  //position: fixed;
  width: 100%;
  //z-index: 100;

  .chat-input, button {
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    height: 44px;
    outline: 0;
    padding: 10px 0;
    display: block;
    float: left;
  }

  .chat-input {
    background: $grey-200;
    line-height: 30px;
    position: relative;
    width: calc(82% - 16px);
  }

  button {
    background: $red;
    color: white;
    margin-left: 8px;
    text-align: center;
    &:disabled {
      opacity: 0.5;
      overflow: hidden;
      text-indent: -9999px;
    }
  }
}

.user-input {
  //transform: translateY(100%);
  //transition: transform .6s;
  transition: opacity .3s;
  opacity: 0;
  position: absolute;
  bottom: 0;
  z-index: -1;

  &.active {
    //transform: translateY(0);
    opacity: 1;
    position: relative;
    z-index: 300;
  }
}

.chat-submit {
  width: 18%;
}

.user-input--sofa, .user-input--options {
  padding-bottom: 12px;
  //z-index: 100;

  a, div {
    box-shadow: 0 6px 12px $grey-300;
    margin: 4px 8px 0 0;
  }
}

.user-input--camera {

  input[type=file] {
    position: absolute;
    bottom: 0;
    left: 0;
    text-indent: -99999px;
    top: 0;
    width: 100%;
    padding: 5px 0
  }

  img {
    margin: auto;
  }
}

.user-input--options, .user-input--sofaOptions {
  div {
    float: left;
    position: relative;
    width: 180px;
    margin-right: 8px;
  }
  input {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;

    &:checked {
      & + label {
        background: rgba(255,0,0,0.4) url(../assets/icon--checked.png) no-repeat center 50%;
        background-size: 72px 56px;
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        display: block;
        padding: 0;
        z-index: 1;
      }
    }
  }
}

.outer-scroll {

  .inner-scroll {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 0 0 8px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  div, a, button {
    display: inline-block;
    width: 36.5%;
    padding-right: 0px;
    float: none;
    vertical-align: bottom;
    position: relative;
  }
}

.user-input--sofaOptions {
  input:checked + label {
    background-position: center center;
    height: 234px;
  }
  div {
    font-weight: 600;
    width: 90%;
    span {
      font-weight: normal;
      float: right;
      padding-right: 4px;
    }
  }
  button {
    width: 66%;
  }
}

.half {
  border: 1px solid $grey-300;
  border-radius: 6px;
  width: 45%;
  float: left;
  padding: 16px 2.5%;
  box-sizing: border-box;
  margin-right: 2.5%;
  span {
    display: block;
  }
  button {
    margin-top: 16px;
    margin-left: 0;
    width: 100%;
  }
}

.fake-website {
  width: 100%;
}

// Logic and styling for showing chatbob box
#toggle-chat {
  display: none;
}

.bob-chat-activate {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 50%;
  cursor: pointer;
}

.chatbob-iframe {
  border: none;
  /*position: fixed;
  bottom: 0;
  right: 30px;
  transform: translateY(100%);
  transition: transform .6s;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);*/
}

#toggle-chat:checked ~ .iframe-wrapper {
  transform: translateY(0);
}

.iframe-wrapper {
  position: fixed;
  bottom: -7px;
  right: 30px;
  transform: translateY(100%);
  transition: transform .6s;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);

  iframe {
    z-index: 1;
  }
}

#close-window {
  position: absolute;
  display: block;
  height: 56px;
  width: 62px;
  z-index: 300;
}

// Scrollbar
::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	border-radius: 10px;
	background-color: $grey-100;
}

::-webkit-scrollbar {
	width: 4px;
	background-color: $grey-100;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: none;
	background-color: $blue-grey-100;
}
