@charset "UTF-8";

/**
* Includes
**/
@import "_normalize.scss";

/**
* Global
**/
$white: #FFFFFF;
$grey-100: #F6F8F9;
$grey-200: #E3E6E9;
$grey-300: #EFF1F3;
$blue-grey: #4E5974;
$red: #D0011B;

body {
  background-color: $grey-100;
  color: $blue-grey;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  height: 100vh;
  line-height: 1.5;
}

div {
  box-sizing: border-box;
  display: block;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
* Mobile Header
**/

header {
  background: $white;
  border-bottom: 1px solid $grey-200;
  position: relative;
  padding: 8px;
  z-index: 50;

  div {
    float: left;
    width: 33.33334%;
  }

  img, strong {
    display: inline-block;
    margin: 0 4px;
    vertical-align: middle;
  }
}

.main-menu, .settings-menu {
  padding: inherit;
}

.chatbob-profile {
  text-align: center;
}

.settings-menu {
  text-align: right;
}

/**
* Chat Window
**/

#chat {
  bottom: 86px;
  max-height: calc(100vh - 57px);
  overflow: auto;
  position: fixed;
  padding: 16px 16px 16px 58px;
  z-index: 10;

  div {
    background: $white;
    border-radius: 6px;
    box-shadow: 0 6px 12px $grey-300;
    clear: both;
    margin-bottom: 12px;
    padding: 16px;
    width: auto;
  }

  .response-block {
    background: $red;
    border-bottom-right-radius: 0;
    color: $white;
    float: right;
    position: relative;

    &::before {
      content: '';
      background: transparent url(../assets/message-tail.png) no-repeat 0 0;
      bottom: 0;
      height: 9px;
      left: 100%;
      margin-bottom: -1px;
      margin-left: -6px;
      position: absolute;
      width: 11px;
    }
  }

}

/**
* Input Footer
**/

.user-input {
  background: $white;
  bottom: 0;
  border-top: 1px solid $grey-200;
  box-sizing: border-box;
  padding: 16px;
  position: fixed;
  width: 100%;
  z-index: 1;

  input[type=text], button {
    border: 0;
    border-radius: 6px;
    box-sizing: border-box;
    outline: 0;
    padding: 10px 16px;
    display: block;
    float: left;
  }

  input[type=text] {
    background: $grey-200;
    margin-right: 16px;
    width: calc(82% - 16px);
  }

  button {
    background: $red;
    color: white;
    width: 18%;
    &:disabled {
      opacity: 0.5;
      overflow: hidden;
      text-indent: -9999px;
    }
  }
}
