<!DOCTYPE html>
<html>
<head>
	<title>Bob's Personal Assistant</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body id="homepage">
	<img class="fake-website" src="/assets/website.png" />
	<input type="checkbox" id="toggle-chat" name="toggle-chat" />
	<label for="toggle-chat" class="bob-chat-activate"></label>
	<iframe
		src="bobchat.html"
		class="chatbob-iframe"
		width="400px"
		height="600px"></iframe>
</body>
</html>
